@import 'scss/section-01';

.index-page {
  background-image: url('@img/bg.jpg');
  background-size: cover;

  h1 {
    color: var(--bs-secondary);
  }

  a {
    font-size: $font-lg-size;
  }

  .images {
    h4 {
      font-size: 1rem;
    }
  }

  .test-image {
    width: 50px;
    height: 50px;
    background-image: url('@img/smile.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
