// fonts and global config (vars and mixins)
@import "@css/common/fonts";
@import "@css/common/vars";
@import "@css/common/mixins";

// reset-libs
// @import "~normalize.css";
@import "@css/common/bootstrap-reboot";

// layout
@import "@css/layout/header";
@import "@css/layout/footer";

// import pages
@import "@index-page/index";
@import "@second-page/second";


// global styles
:root {
  font-size: 16px; // 1rem = 16px
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

code {
  font-family: 'Consolas', monospace;
}

abbr {
  font-family: 'Anfisa Grotesk';
  font-size: 2rem;
  outline: none;
  border: none;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
}

.container {
  margin: auto;
  max-width: 850px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

